@model IEnumerable<PostOffice.API.DTOs.ParcelOrder.ParcelOrderBase>
@{
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}
<div>
    <p>Đây là User Id</p>
    <p>@ViewData["UserId"]</p>
</div>
<table id="bootstrap-data-table-export" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.sender_name)</th>
            <th>@Html.DisplayNameFor(model => model.receiver_name)</th>
            <th>@Html.DisplayNameFor(model => model.receiver_address)</th>
            <th>@Html.DisplayNameFor(model => model.receiver_phone)</th>
            <th>@Html.DisplayNameFor(model => model.receiver_email)</th>
            <th>@Html.DisplayNameFor(model => model.order_status)</th>
            <th>@Html.DisplayNameFor(model => model.note)</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.sender_name</td>
            <td>@item.receiver_name</td>
            <td>@item.receiver_address</td>
            <td>@item.receiver_phone</td>
            <td>@item.receiver_email</td>
            <td>@item.order_status</td>
            <td>@item.note</td>
            <td>@Html.ActionLink("Shipping","Shipping",new {id = item.id})</td>

        </tr>
        }
    </tbody>
</table>
